---
layout: default
title: WORK
permalink: /
---

<br>

<h4>Experience</h4>

{% include experience.html %}

<br>


<h4>Education</h4>

{% include education.html %}

<br>


<h4>Licenses & Certifications</h4>

{% include licenses-certifications.html %}

<br>



<h4>Honours & Awards</h4>

{% include honours-awards.html %}

<br>


<h4>Affiliations</h4>

{% include affiliations.html %}

<br>


<h4>Languages</h4>

{% include languages.html %}

<br>


<h4>Skills</h4>

{% include skills.html %}

<br>


<h4>Industry</h4>

{% include industry.html %}

<br>


<h4>Scholarship</h4>

{% include scholarship.html %}

<br>


<h4>Design</h4>

{% include design.html %}

<br>


<h4>Poetry</h4>

{% include poetry.html %}

<br>
