<h5>Tabletop Games</h5>

  <p>
    {% assign sorted = site.pages | sort: "date" | reverse %}
    {% for item in sorted %}
      {% if item.category contains "design" and item.subcategory contains "tabletop-game" %}
        {{ item.date | date: '%Y' }} <a href="{{ item.link }}">{{ item.title }}</a><br>
      {% endif %}
    {% endfor %}
  </p>
  <br>


<h5>Game Jams</h5>

  <p>
    {% assign sorted = site.pages | sort: "ended" | reverse %}
    {% for item in sorted %}
      {% if item.category contains "design" and item.subcategory contains "game-jam" %}
        {{ item.ended | date: '%Y' }} <a href="{{ item.link }}">{{ item.title }}</a><br>
      {% endif %}
    {% endfor %}
  </p>
