<h5>Book Chapters</h5>

  <p>
    {% assign sorted = site.pages | sort: "date" | reverse %}
    {% for item in sorted %}
      {% if item.category contains "scholarship" and item.subcategory contains "book-chapter" %}
        {{ item.date | date: '%Y' }} <a href="{{ item.link }}">{{ item.title }}</a><br>
      {% endif %}
    {% endfor %}
  </p>
  <br>


<h5>Book Reviews</h5>

  <p>
    {% assign sorted = site.pages | sort: "date" | reverse %}
    {% for item in sorted %}
      {% if item.category contains "scholarship" and item.subcategory contains "book-review" %}
        {{ item.date | date: '%Y' }} <a href="{{ item.link }}">{{ item.title }}</a><br>
      {% endif %}
    {% endfor %}
  </p>
  <br>


<h5>Conference Papers</h5>

  <p>
    {% assign sorted = site.pages | sort: "date" | reverse %}
    {% for item in sorted %}
      {% if item.category contains "scholarship" and item.subcategory contains "conference-paper" %}
        {{ item.date | date: '%Y' }} <a href="{{ item.pdf }}">{{ item.title }}</a><br>
      {% endif %}
    {% endfor %}
  </p>
